/* Enter your custom styles here */

/*.sapMImg {*/
/*    border-radius: 100%;*/
/*    vertical-align: middle;*/
/*    overflow: hidden;*/
    /*object-fit: contain;*/
/*}*/

.tableImage {
	border-radius : 50%;
}

.AddEmployeeHeaderColor {
    background-color: #005399;
    color: white;
}

.AddEmployeeHeaderColor .sapUiIcon::before {
    color: white;
}